<template>
  <a-table bordered :scroll="{x:'max-content'}" :pagination="false" :columns="columns" :data-source="data" rowKey="id" bodyCell>
    <template #title>
      <div class="flex justify-between">
        <div style="font-size: 18px;font-weight: bold">菜单列表</div>
        <div v-permission="'auth:menu:add'" class="flex">
          <a-button type="primary" :icon="h(antIcons['PlusOutlined'])" @click="add">新增</a-button>
        </div>
      </div>
    </template>
    <template #bodyCell="{ text, record, index, column }">
      <template v-if="column.dataIndex === 'operation'">
        <a-space warp>
          <a-button v-permission="'auth:menu:edit'" type="primary" :icon="h(antIcons['EditOutlined'])" @click="edit(record)">编辑</a-button>
          <a-button v-permission="'auth:menu:delete'" v-if="record.deleted" style="border-color: red;color: red" :icon="h(antIcons['DeleteOutlined'])" @click="del(record)">删除</a-button>
        </a-space>
      </template>
    </template>
  </a-table>
  <AddMenu :show="modalVisible" :formData="formData" :title="title" @close="modalVisible = false"></AddMenu>
</template>

<script lang="ts">
import {ref, computed, defineComponent, getCurrentInstance, reactive, h} from "vue";
import { useStore } from "vuex";
import AddMenu from "@/components/AddMenu.vue";
import {MenuProps} from "@/interface";
import Columns from "@/columns";
import {Modal} from "ant-design-vue";
import {initialization} from "@/mixins/initialization";

  
  export default defineComponent({
    name: 'AuthMenu',
    components: {
      AddMenu
    },
    setup: () => {
      initialization({
        onShow: () => {
          store.dispatch('getMenuListAction');
        },
        onHide: () => {}
      });
      const { $antIcons } = (getCurrentInstance() as any).appContext.config.globalProperties;
      const columns = ref(Columns.menuColumns(h, $antIcons));
      const store = useStore();
      const data = computed(() => store.state.menuList);
      const modalVisible = ref(false);
      const title = ref('新增菜单');
      const formData = reactive<MenuProps>({
        id: undefined,
        type: 'menu',
        name: '',
        icon: undefined,
        target: '_self',
        rank: undefined,
        path: '',
        pageType: 'component',
        component: '',
        link: '',
        iframe: '',
        renderMenu: true,
        parentId: undefined,
        permission: '',
        tabType: '',
      });
      const edit = (record: MenuProps) => {
        formData.id= record.id;
        formData.type= record.type;
        formData.name= record.name;
        formData.icon= record.icon;
        formData.target= record.target;
        formData.rank= record.rank;
        formData.path= record.path;
        formData.pageType= record.pageType || 'component';
        formData.component= record.component;
        formData.link= record.link;
        formData.iframe= record.iframe;
        formData.renderMenu= record.renderMenu;
        formData.parentId= record.parentId || undefined;
        formData.permission= record.permission;
        formData.tabType= record.tabType || 'one';
        modalVisible.value = true;
        title.value = '编辑菜单';
      }
      const add = () => {
        formData.id= undefined;
        formData.type= 'menu';
        formData.name= '';
        formData.icon= undefined;
        formData.target= '_self';
        formData.rank= undefined;
        formData.path= '';
        formData.pageType= 'component';
        formData.component= '';
        formData.link= '';
        formData.iframe= '';
        formData.renderMenu= true;
        formData.parentId= undefined;
        formData.permission= '';
        formData.tabType= 'one';
        modalVisible.value = true;
        title.value = '新增菜单';
      }
      const del = (record: MenuProps) => {
        Modal.confirm({
          title: '删除菜单',
          content: `确定删除菜单【${record.name}】吗？`,
          okText: '确定',
          cancelText: '取消',
          onOk() {
            store.dispatch('deleteMenuAction', {id: record.id});
          }
        });
      }
      return {
        h,
        antIcons: $antIcons,
        formData,
        columns,
        data,
        modalVisible,
        title,
        add,
        edit,
        del
      }
    }
  })
</script>

<style scoped>

</style>
