<template>
  <a-table bordered :scroll="{x:'max-content'}" :pagination="false" :columns="columns" :data-source="data" rowKey="id" bodyCell>
    <template #title>
      <div class="flex justify-between">
        <div style="font-size: 18px;font-weight: bold">角色列表</div>
        <div class="flex">
          <a-button type="primary" :icon="h(antIcons['PlusOutlined'])" @click="add">新增</a-button>
        </div>
      </div>
    </template>
    <template #bodyCell="{ text, record, index, column }">
<!--      <template v-if="column.dataIndex === 'name'">-->
<!--        {{ text }}<component :is="antIcons['EditOutlined']" class="editable-cell-icon" @click="edit(record)" />-->
<!--      </template>-->
      <template v-if="column.dataIndex === 'operation'">
        <a-space warp>
          <a-button type="primary" :icon="h(antIcons['EditOutlined'])" @click="edit(record)">编辑</a-button>
          <a-button v-if="record.deleted" style="border-color: red;color: red" :icon="h(antIcons['DeleteOutlined'])" @click="del(record)">删除</a-button>
        </a-space>
      </template>
    </template>
  </a-table>
  <AddRole :show="modalVisible" :formData="formData" :title="title" @close="modalVisible = false"></AddRole>
</template>

<script lang="ts">
import {ref, defineComponent, getCurrentInstance, h, computed, reactive,onActivated, onDeactivated} from "vue";
import { useStore } from "vuex";
import { RoleProps } from "@/interface";
import AddRole from "@/components/AddRole.vue";
import Columns from "@/columns";
import {Modal} from "ant-design-vue";
import {initialization} from "@/mixins/initialization";

export default defineComponent({
  name: "AuthRole",
  components: {
    AddRole
  },
  setup: ()=>{
    initialization({
      onShow: () => {
        store.dispatch('getRoleListAction');
      },
      onHide: () => {}
    });
    const { $antIcons } = (getCurrentInstance() as any).appContext.config.globalProperties
    const store = useStore();
    const data = computed(() => store.state.roleList);
    const columns = ref(Columns.roleColumns());
    const modalVisible = ref(false);
    const title = ref('新增角色');
    const formData = reactive<RoleProps>({
      id: undefined,
      name: '',
      permission: '',
      state: true,
      permissionItems: []
    });

    const add = () => {
      formData.name = '';
      formData.permission = '';
      formData.state = true;
      formData.permissionItems = [];
      modalVisible.value = true;
      title.value = '新增角色';
    }
    const edit = (record: RoleProps) => {
      formData.id = record.id;
      formData.name = record.name;
      formData.permission = record.permission;
      formData.state = record.state;
      formData.permissionItems = record.permissionItems.map((item: any) => item.menuId);
      modalVisible.value = true;
      title.value = '编辑角色';
    }
    const del = (record: RoleProps) => {
      Modal.confirm({
        title: '删除角色',
        content: `确定删除角色【${record.name}】吗？`,
        okText: '确认',
        cancelText: '取消',
        onOk: () => {
          store.dispatch('deleteRoleAction', {id: record.id});
        }
      })
    }
    return {
      h,
      antIcons: $antIcons,
      modalVisible,
      title,
      formData,
      data,
      columns,
      add,
      edit,
      del
    }
  }
});
</script>

<style scoped>

</style>
