<template>
  <a-table bordered :scroll="{x:'max-content'}" :pagination="false" :columns="columns" :data-source="data" rowKey="id" bodyCell>
    <template #title>
      <div class="flex justify-between">
        <div style="font-size: 18px;font-weight: bold">用户列表</div>
        <div class="flex">
          <a-button type="primary" :icon="h(antIcons['PlusOutlined'])" @click="add">新增</a-button>
        </div>
      </div>
    </template>
    <template #bodyCell="{ text, record, index, column }">
<!--      <template v-if="column.dataIndex === 'name'">-->
<!--        {{ text }}<component :is="antIcons['EditOutlined']" class="editable-cell-icon" @click="edit(record)" />-->
<!--      </template>-->
      <template v-if="column.dataIndex === 'operation'">
        <a-space warp>
          <a-button type="primary" :icon="h(antIcons['EditOutlined'])" @click="edit(record)">编辑</a-button>
          <a-button v-if="record.deleted" style="border-color: red;color: red" :icon="h(antIcons['DeleteOutlined'])" @click="del(record)">删除</a-button>
        </a-space>
      </template>
    </template>
  </a-table>
  <AddUser :show="modalVisible" :formData="formData" :title="title" @close="modalVisible = false"></AddUser>
</template>

<script lang="ts">
import {ref, computed, defineComponent, getCurrentInstance, reactive, h} from "vue";
import { useStore } from "vuex";
import AddUser from "@/components/AddUser.vue";
import {UserProps} from "@/interface";
import Columns from "@/columns";
import {Modal} from "ant-design-vue";
import {initialization} from "@/mixins/initialization";
export default defineComponent({
  name: "AuthUser",
  components: {AddUser},
  setup: ()=>{
    initialization({
      onShow: () => {
        store.dispatch('getUserListAction');
      },
      onHide: () => {}
    });
    const { $antIcons } = (getCurrentInstance() as any).appContext.config.globalProperties
    const store = useStore();
    const data = computed(() => store.state.userList);
    const columns = ref(Columns.userColumns());
    const modalVisible = ref(false);
    const title = ref('新增用户');
    const formData = reactive<UserProps>({
      id: undefined,
      name: '',
      account: '',
      phone: '',
      password: '',
      roleId: undefined,
      state: true
    });
    
    const add = () => {
      title.value = '新增用户';
      formData.id= undefined;
      formData.name = '';
      formData.account = '';
      formData.phone = '';
      formData.password = '';
      formData.roleId = undefined;
      formData.state = true;
      modalVisible.value = true;
    };
    
    const edit = (record: UserProps) => {
      title.value = '编辑用户';
      formData.id = record.id;
      formData.name = record.name;
      formData.account = record.account;
      formData.phone = record.phone;
      formData.password = record.password;
      formData.roleId = record.roleId;
      formData.state = record.state;
      modalVisible.value = true;
    };
    const del = (record: UserProps) => {
      Modal.confirm({
        title: '删除角色',
        content: `确定删除账号【${record.account}】吗？`,
        okText: '确认',
        cancelText: '取消',
        onOk: () => {
          store.dispatch('deleteUserAction', {id: record.id});
        }
      })
    }
    return {
      h,
      columns,
      data,
      modalVisible,
      title,
      formData,
      antIcons: $antIcons,
      add,
      edit,
      del
    }
  }
});
</script>

<style scoped>

</style>
