/*隐藏*/
.dn{
  display: none;
}
.bg-container {
  background-color: var(--color-bg-container)
}
.cursor-pointer {
  cursor: pointer
}
.h-10 {
  height: 2.5rem
}
.w-10 {
  width: 2.5rem
}
.p-1 {
  padding: .25rem
}
.mt-3 {
  margin-top: .75rem
}
.grid {
  display: grid
}
.flex {
  display: flex
}
.justify-center {
  justify-content: center
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center
}
.bg-primary-100 {
  background-color: var(--color-primary-2)
}
.transition {
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s
}
.bg-bg-disabled {
  background-color: var(--color-bg-disabled)
}
.rounded-sm {
  border-radius: var(--radius-sm)
}
.px-base,.px-md {
  padding-left: var(--padding-md);
  padding-right: var(--padding-md)
}
.pb-base {
  padding-bottom: var(--padding-md)
}
.pt-\[12px\] {
  padding-top: 12px
}
.text-primary-500 {
  color: var(--color-primary-6)
}
.editable-cell-icon {
  display: none;
  margin-left: 10px;
}
.ant-table-row:hover .editable-cell-icon {
  display: inline-block;
}
.pd-12 {
  padding: 12px
}
.transition {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}
.center {
  text-align: center;
}