<template>
  <img src="../assets/rainbow.png" alt="" style="width: 100%">
  <h1>Page 404</h1>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "Index",
  components: {},
});
</script>

<style scoped>

</style>
