<template>
  <iframe v-if="iframeUrl" :src="iframeUrl" style="width: calc(100vw - 110px);height: calc(100vh - 140px); border: none;"></iframe>
  <div v-else style="text-align: center;color: red;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%)">未找到链接~</div>
</template>

<script lang="ts">
import {computed, defineComponent} from "vue";
import { useStore } from 'vuex';
export default defineComponent({
  name: "Iframe",
  setup() {
    const store = useStore();
    const iframeUrl = computed(() => store.state.iframeUrl);
    return {
      iframeUrl
    }
  }
});
</script>

<style lang="less" scoped>

</style>
