<template>
  <img src="../assets/rainbow.png" alt="" style="width: 100%">
  <h1 v-if="!userInfo" @click="login" style="color: #6d61ea;cursor: pointer">登录以获取更多功能</h1>
  <h1 v-else style="color: #6d61ea">welcome {{userInfo.name}}</h1>
  <div class="gov">
    纸上的彩虹
    <a href="https://beian.miit.gov.cn">皖ICP备2023015247号</a>
  </div>
</template>

<script lang="ts">
import {computed, defineComponent} from "vue";
import { useRouter } from 'vue-router';
import {useStore} from "vuex";
import {initialization} from "@/mixins/initialization";
export default defineComponent({
  name: "Index",
  components: {},
  setup: () => {
    initialization({});
    const router = useRouter()
    const store = useStore()
    const userInfo = computed(() => store.state.currentUser.userInfo);
    return {
      userInfo,
      login() {
        router.push({ name: "login" });
      }
    };
  },
});
</script>

<style lang="less" scoped>
.gov {
  text-align: center;
  margin-top: 20px;
  color: #cccccc;
  font-size: smaller;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
</style>
