<template>
  <router-view></router-view>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "Views",
});
</script>

<style lang="less" scoped>

</style>
