<template>
  <a-modal :okButtonProps="{ loading }" cancelText="取消" okText="保存" width="540px" v-model:open="show" :title="title" @ok="submit" @cancel="$emit('close')">
    <a-form ref="form" :model="formData" :labelCol="{ span: 5 }" :wrapperCol="{ span: 16, offset: 1 }">
      <a-form-item required name="type" label="类型">
        <a-radio-group v-model:value="formData.type">
          <a-radio value="catalog">目录</a-radio>
          <a-radio value="menu">菜单</a-radio>
          <a-radio value="button">按钮</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item required name="name" label="名称" :validateStatus="nameValidate.validateStatus" has-feedback :help="nameValidate.help">
        <a-input v-model:value="formData.name" placeholder="请输入名称" />
      </a-form-item>
      <a-form-item v-if="formData.type !== 'button' && formData.pageType !== 'link'" :required="formData.pageType !== 'micro'" name="path" label="路径" :validateStatus="pathValidate.validateStatus" has-feedback :help="pathValidate.help">
        <a-input ref="pathInput" v-model:value="formData.path" placeholder="请输入路径" />
      </a-form-item>
      <a-form-item name="parent" label="父级菜单">
        <a-tree-select
            tree-default-expand-all
            placeholder="设置父级菜单"
            v-model:value="formData.parentId"
            :treeData="formData.type === 'button' ? noButtonList : catalogList"
            :field-names="{
              children: 'children',
              label: 'name',
              value: 'id'
            }"/>
      </a-form-item>
      <a-form-item v-if="formData.type !== 'button'" name="icon" label="图标">
        <IconSelector :column="6" v-model:value="formData.icon" />
      </a-form-item>
      <a-form-item v-if="formData.type !== 'button'" required name="rank" label="排序">
        <a-input-number style="width: 100%" v-model:value="formData.rank" placeholder="请输入排序号" />
      </a-form-item>
      <a-form-item v-if="formData.type === 'menu'" :name="pageTypeConfig[formData.pageType].props" :wrapperCol="{ span: 21, offset: 1 }">
        <a-input-group compact>
          <a-form-item-rest>
            <a-select v-model:value="formData.pageType" style="width: 106px">
              <a-select-option value="component">页面组件</a-select-option>
              <a-select-option value="iframe">iframe</a-select-option>
              <a-select-option value="link">外链</a-select-option>
              <a-select-option value="micro">子应用</a-select-option>
            </a-select>
          </a-form-item-rest>
          <a-input
              v-model:value="formData[pageTypeConfig[formData.pageType].props]"
              :placeholder="pageTypeConfig[formData.pageType].placeholder"
              style="width: calc(100% - 106px)"
          />
        </a-input-group>
      </a-form-item>
      <a-form-item name="permission" label="权限标识">
        <a-input v-model:value="formData.permission" placeholder="请输入权限标识（例：auth:menu:list）" />
      </a-form-item>
      <a-form-item v-if="formData.type === 'menu'" required name="target" label="打开窗口">
        <a-radio-group :disabled="formData.pageType === 'link' || formData.pageType === 'iframe' || formData.pageType === 'micro'" v-model:value="formData.target">
          <a-radio value="_self">当前窗口</a-radio>
          <a-radio value="_blank">新窗口</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item v-if="formData.type !== 'button'" required name="tabType" label="页签类型">
        <a-radio-group v-model:value="formData.tabType">
          <a-radio value="one">单页签</a-radio>
          <a-radio value="more">多页签</a-radio>
        </a-radio-group>
      </a-form-item>
      <a-form-item v-if="formData.type !== 'button'" required name="renderMenu" label="渲染菜单">
        <a-switch v-model:checked="formData.renderMenu" checked-children="是" un-checked-children="否" />
      </a-form-item>
    </a-form>
  </a-modal>
</template>
<script lang="ts">
import { defineComponent, ref, watch, computed } from 'vue';
import {useStore} from "vuex";
import IconSelector from "./IconSelector.vue";

export default defineComponent({
  name: "Index",
  props: ['show', 'title', 'formData'],
  emits: ['close'],
  components: {
    IconSelector
  },
  setup(props, { emit } ) {
    const loading = ref(false);
    const show = ref(props.show);
    const title = ref(props.title);
    const formData = ref(props.formData);
    const form = ref();
    const nameValidate = ref({
      validateStatus: '',
      help: '',
    });
    const pathValidate = ref({
      validateStatus: '',
      help: '',
    });

    const pageTypeConfig = {
      component: {
        props: 'component',
        placeholder: '请输入需要渲染的页面组件',
      },
      iframe: {
        props: 'iframe',
        placeholder: '请输入链接地址',
      },
      link: {
        props: 'link',
        placeholder: '请输入链接地址',
      },
      micro: {
        props: 'micro',
        placeholder: '请输入需要渲染的子应用组件',
      },
    };
    const store = useStore();
    const noButtonList = computed(() => store.state.noButtonList);
    const catalogList = computed(() => store.state.catalogList);

    function submit() {
      loading.value = true;
      form.value
        ?.validate()
        .then(async () => {
          if (formData.value.type === 'button') {
            formData.value.path = '';
            formData.value.icon = '';
            formData.value.rank = 0;
            formData.value.pageType = '';
            formData.value.component = '';
            formData.value.iframe = '';
            formData.value.link = '';
            formData.value.target = '';
            formData.value.renderMenu = false;
            formData.value.tabType = '';
          } else if (formData.value.type === 'catalog') {
            formData.value.component = '';
            formData.value.iframe = '';
            formData.value.link = '';
            formData.value.target = '';
            formData.value.pageType = '';
            if (!formData.value.parentId && formData.value.path[0] !== '/') {
              formData.value.path = '/' + formData.value.path;
            }
          } else {
            if (formData.value.pageType === 'component') {
              formData.value.iframe = '';
              formData.value.link = '';
            } else if (formData.value.pageType === 'iframe') {
              formData.value.component = 'Iframe';
              formData.value.link = '';
              formData.target = '_self';
            } else if (formData.value.pageType === 'link') {
              formData.value.path = '_blank';
              formData.value.component = '';
              formData.value.iframe = '';
              formData.target = '_blank';
            } else if (formData.value.pageType === 'micro') {
              formData.value.iframe = '';
              formData.value.link = '';
              formData.target = '_self';
            }
            if (!formData.value.parentId && formData.value.path[0] !== '/') {
              formData.value.path = '/' + formData.value.path;
            }
          }
          const res = await store.dispatch('editMenuAction', formData.value);
          if (res) {
            if (res === 'name error') {
              nameValidate.value.validateStatus = 'error';
              nameValidate.value.help = '同级目录下已存在该名称';
            }
            else if (res === 'path error') {
              pathValidate.value.validateStatus = 'error';
              pathValidate.value.help = '同级目录下已存在该路径';
            }
            else emit('close');
          }
          
        })
        .finally(() => {
          loading.value = false;
        });
    }

    watch(
      () => props.show,
      (val) => {
        show.value = val;
      }
    );
    watch(
      () => props.title,
      (val) => {
        title.value = val;
      }
    );
    watch(
      () => formData.value.name,
      () => {
        nameValidate.value.help = '';
        nameValidate.value.validateStatus = '';
      }
    );
    watch(
      () => formData.value.path,
      () => {
        pathValidate.value.help = '';
        pathValidate.value.validateStatus = '';
      }
    );
    watch(
      () => formData.value.pageType,
      (val) => {
        if (val === 'link') {
          formData.value.target = '_blank';
        }
        else if (val === 'iframe') {
          formData.value.target = '_self';
        }
      }
    );
    return {
      show,
      title,
      form,
      formData,
      catalogList,
      noButtonList,
      loading,
      submit,
      pageTypeConfig,
      nameValidate,
      pathValidate
    }
  }
});


</script>
<style scoped>

</style>