<template>
  <a-modal :okButtonProps="{ loading }" cancelText="取消" okText="保存" width="540px" v-model:open="show" :title="title" @ok="submit" @cancel="$emit('close')">
    <a-form ref="form" :model="formData" :labelCol="{ span: 5 }" :wrapperCol="{ span: 16, offset: 1 }">
      <a-form-item required name="name" label="名称" :validateStatus="nameValidate.validateStatus" has-feedback :help="nameValidate.help">
        <a-input v-model:value="formData.name" />
      </a-form-item>
      <a-form-item required name="permission" label="权限标识" :validateStatus="permissionValidate.validateStatus" has-feedback :help="permissionValidate.help">
        <span v-if="formData.permission === 'admin'">admin</span>
        <a-input v-else v-model:value="formData.permission" />
      </a-form-item>
      <a-form-item required name="state" label="状态">
        <a-switch v-model:checked="formData.state" checked-children="启用" un-checked-children="停用" />
      </a-form-item>
      <a-form-item required name="permissionItems" label="权限项">
        <span v-if="formData.permission === 'admin'">拥有所有权限</span>
        <a-tree-select
          v-else
          tree-default-expand-all
          tree-checkable
          allow-clear
          placeholder="选择权限"
          v-model:value="formData.permissionItems"
          :treeData="menuList"
          :field-names="{
              children: 'children',
              label: 'name',
              value: 'id',
            }"/>

      </a-form-item>
    </a-form>
  </a-modal>
</template>
<script lang="ts">
import { defineComponent, ref, watch, computed } from 'vue';
import {useStore} from "vuex";

export default defineComponent({
  name: "Index",
  props: ['show', 'title', 'formData'],
  emits: ['close'],
  setup(props, { emit } ) {
    const loading = ref(false);
    const show = ref(props.show);
    const title = ref(props.title);
    const formData = ref(props.formData);
    const form = ref();
    const nameValidate = ref({
      validateStatus: '',
      help: '',
    });
    const permissionValidate = ref({
      validateStatus: '',
      help: '',
    });
    const store = useStore();
    store.dispatch('getMenuListAction');
    const menuList = computed(() => store.state.menuList);

    function submit() {
      loading.value = true;
      form.value
        ?.validate()
        .then(async () => {
          const res = await store.dispatch('editRoleAction', formData.value);
          if (res) {
            if (res === 'name error') {
              nameValidate.value.validateStatus = 'error';
              nameValidate.value.help = '已存在该角色';
            }
            else if (res === 'permission error') {
              permissionValidate.value.validateStatus = 'error';
              permissionValidate.value.help = '已存在该权限';
            }
            else emit('close');
          }
        })
        .finally(() => {
          loading.value = false;
        });
    }

    watch(
      () => props.show,
      (val) => {
        show.value = val;
      }
    );
    watch(
      () => props.title,
      (val) => {
        title.value = val;
      }
    );
    watch(
      () => formData.value.name,
      () => {
        nameValidate.value.help = '';
        nameValidate.value.validateStatus = '';
      }
    );
    watch(
      () => formData.value.permission,
      () => {
        permissionValidate.value.help = '';
        permissionValidate.value.validateStatus = '';
      }
    );
    return {
      show,
      title,
      form,
      formData,
      menuList,
      loading,
      nameValidate,
      permissionValidate,
      submit
    }
  }
});


</script>
<style scoped>

</style>