<template>
  <a-modal :okButtonProps="{ loading }" cancelText="取消" okText="保存" width="540px" v-model:open="show" :title="title" @ok="submit" @cancel="$emit('close')">
    <a-form ref="form" :model="formData" :labelCol="{ span: 5 }" :wrapperCol="{ span: 16, offset: 1 }">
      <a-form-item required name="name" label="名称">
        <a-input v-model:value="formData.name" />
      </a-form-item>
      <a-form-item required name="account" label="账号" :validateStatus="accountValidate.validateStatus" has-feedback :help="accountValidate.help">
        <a-input v-model:value="formData.account" />
      </a-form-item>
      <a-form-item required name="phone" label="手机号" :validateStatus="phoneValidate.validateStatus" has-feedback :help="phoneValidate.help">
        <a-input v-model:value="formData.phone" />
      </a-form-item>
      <a-form-item required name="password" label="密码">
        <a-input v-model:value="formData.password" />
      </a-form-item>
      <a-form-item required name="state" label="状态">
        <a-switch v-model:checked="formData.state" checked-children="启用" un-checked-children="停用" />
      </a-form-item>
      <a-form-item required name="roleId" label="角色">
        <a-tree-select
          tree-default-expand-all
          placeholder="选择角色"
          v-model:value="formData.roleId"
          :treeData="roles"
          :field-names="{
              label: 'name',
              value: 'id',
            }"/>
      </a-form-item>
    </a-form>
  </a-modal>
</template>
<script lang="ts">
import { defineComponent, ref, watch, computed } from 'vue';
import {useStore} from "vuex";

export default defineComponent({
  name: "Index",
  props: ['show', 'title', 'formData'],
  emits: ['close'],
  setup(props, { emit } ) {
    const loading = ref(false);
    const show = ref(props.show);
    const title = ref(props.title);
    const formData = ref(props.formData);
    const form = ref();
    const accountValidate = ref({
      validateStatus: '',
      help: '',
    });
    const phoneValidate = ref({
      validateStatus: '',
      help: '',
    });

    const store = useStore();
    store.dispatch('getRoleListAction');
    const roles = computed(() => store.state.roleList);

    function submit() {
      loading.value = true;
      form.value
        ?.validate()
        .then(async () => {
          const res = await store.dispatch('editUserAction', formData.value);
          if (res) {
            if (res === 'account error') {
              accountValidate.value.validateStatus = 'error';
              accountValidate.value.help = '已存在该账号';
            }
            else if (res === 'phone error') {
              phoneValidate.value.validateStatus = 'error';
              phoneValidate.value.help = '该手机号已注册';
            }
            else emit('close');
          }
        })
        .finally(() => {
          loading.value = false;
        });
    }
    watch(
      () => props.show,
      (val) => {
        show.value = val;
      }
    );
    watch(
      () => props.title,
      (val) => {
        title.value = val;
      }
    );
    watch(
        () => formData.value.account,
        () => {
          accountValidate.value.help = '';
          accountValidate.value.validateStatus = '';
        }
    );
    watch(
        () => formData.value.phone,
        () => {
          phoneValidate.value.help = '';
          phoneValidate.value.validateStatus = '';
        }
    );
    return {
      show,
      title,
      form,
      formData,
      roles,
      loading,
      accountValidate,
      phoneValidate,
      submit
    }
  }
});


</script>
<style scoped>

</style>