<template>
  <a-select
    @click="() => (visible = true)"
    :showSearch="true"
    mode="multiple"
    v-model:value="select"
    :open="visible"
    @blur="() => (visible = false)"
    @search="onSearch"
    :searchValue="searchValue"
    v-bind="{ placeholder }"
    allow-clear
  >
    <template #dropdownRender>
      <a-spin tip="搜索中..." :spinning="loading">
        <a-tabs
          v-model:activeKey="active"
          :class="[
            'icon-selector',
            'px-base',
            'pb-base',
            { 'no-group pt-[12px]': groupList.length === 1 && groupList[0].key === '__dft' },
          ]"
          @mousedown.prevent
        >
          <a-tab-pane :key="group.key" v-for="group in groupList">
            <template #tab>
              <a-badge
                :class="{ 'text-primary-500': active === group.key }"
                :count="group._searchList.length === group.list.length ? undefined : group._searchList.length"
                showZero
              >
                {{ group.title }}
              </a-badge>
            </template>
            <GridList
              class="icon-container"
              :dataSource="group._searchList"
              :column="column"
              :pagination="{
                ...pageBase,
                current: group._current.value,
                'onUpdate:current': (val) => (group._current.value = val),
              }"
            >
              <template #renderItem="{ item }">
                <div
                  @click="onSelect(item)"
                  :class="`icon-item bg-container cursor-pointer h-10 w-10 flex justify-center items-center ${
                    selected(item) ? 'bg-primary-100' : ''
                  }`"
                >
                  <component class="icon transition" :is="item.component" />
                </div>
              </template>
            </GridList>
          </a-tab-pane>
        </a-tabs>
      </a-spin>
    </template>
    <template #tagRender="item">
      <div class="mx-0.5 bg-bg-disabled p-1 rounded-sm flex items-center cursor-pointer">
        <component :is="iconMap.get(item.value)?.component" />
      </div>
    </template>
    <template #placeholder>请选择图标</template>
  </a-select>
</template>
<script lang="ts">
import { defineComponent, Component, ref, computed, watch } from "vue";
import * as icons from '@ant-design/icons-vue/es';
import { debounce } from 'lodash';
import { PaginationProps } from 'ant-design-vue';
import {CloseOutlined} from "@ant-design/icons-vue";
import GridList from "./GridList.vue";

export interface IconSelectOption {
  label?: string;
  component: string | Component;
  value: string | number;
}

export interface IconSelectGroup {
  title: string;
  key: string | number;
  list: IconSelectOption[];
}

export default defineComponent({
  name: "IconSelector",
  props: ['value', 'placeholder', 'column'],
  emits: ['update:value'],
  components: {
    CloseOutlined,
    GridList
  },
  setup: (props, { emit }) => {
    const visible = ref(false);
    // 搜索关键字
    const searchValue = ref('');
    const loading = ref(false);
    // 分页
    const pageBase: PaginationProps = {
      pageSize: props.column * 5,
      hideOnSinglePage: true,
      showSizeChanger: false,
      size: 'small',
    };
    const { value: select } = useModelValue(
      () =>
        Array.isArray(props.value) || props.value === undefined ? (props.value as Array<string | number>) : [props.value],
      (val) => emit('update:value', val?.[0])
    );


    const outlined: IconSelectGroup = {
      title: '线框风',
      key: 'outlined',
      list: [],
    };
    const filled: IconSelectGroup = {
      title: '实底风',
      key: 'filled',
      list: [],
    };
    const twoTone: IconSelectGroup = {
      title: '双色风',
      key: 'twoTone',
      list: [],
    };
    const options: IconSelectGroup[] = [outlined, filled, twoTone];
    for (const key in icons) {
      const icon = {
        label: key,
        value: key,
        component: (icons as any)[key],
      };
      if (key.endsWith('Outlined')) {
        outlined.list.push(icon);
      } else if (key.endsWith('Filled')) {
        filled.list.push(icon);
      } else if (key.endsWith('TwoTone')) {
        twoTone.list.push(icon);
      }
    }
    /**
     * 格式化分组
     */
    const groupList = computed(() => {
      if (options.length === 0 || (options as IconSelectGroup[])[0].title !== undefined) {
        return (options as IconSelectGroup[]).map((group) => ({
          ...group,
          _current: ref(1),
          _searchList: group.list,
        }));
      }
      return [
        {
          title: '全部图标',
          key: '__dft',
          list: options,
          _current: ref(1),
          _searchList: [...options],
        },
      ];
    });
    /**
     * icon 字典 (方便搜索和查找)
     */
    const iconMap = computed(() => {
      const map = new Map<string | number, IconSelectOption>();
      groupList.value
        .flatMap((group: any) => group.list)
        .forEach((item: any) => {
          map.set(item.value, item);
        });
      return map;
    });

    function useModelValue<T>(value: () => T | undefined, onChange: (val?: T) => void, defaultValue?: T) {
      const _value = ref<T>();
      _value.value = value() ?? defaultValue;
      const sValue = computed({
        get() {
          return value() ?? _value.value;
        },
        set(val: T | undefined) {
          _value.value = val;
          onChange(val);
        },
      });
      watch(value, () => {
        _value.value = value();
      });
      return { value: sValue };
    }
    function searchIcon(keyword: string) {
      const empty = keyword === '';

      const group = (groupList.value as any).find((item: any) => item.key === active.value)!;

      const reg = new RegExp(keyword.toLowerCase());

      const filterIcon = (reg: RegExp, list: IconSelectOption[]) => {
        return list.filter((icon) => reg.test(icon.label!.toLocaleLowerCase()));
      };

      group._searchList = empty ? [...group.list] : filterIcon(reg, group.list);

      setTimeout(() => {
        (groupList.value as any)
          .filter((item: any) => item !== group)
          .forEach((g: any) => {
            g._searchList = empty ? [...g.list] : filterIcon(reg, g.list);
          });
      });

      loading.value = false;
    }
    function onSearch(value: string) {
      searchValue.value = value;
      loading.value = true;
      _search(value);
    }
    function onSelect(icon: IconSelectOption) {
      const index = select.value?.indexOf(icon.value) ?? -1;
      if (index === -1) {
        select.value = [icon.value];
      }
      visible.value = false;
      searchValue.value = '';
      searchIcon('');
    }
    function selected(icon: IconSelectOption) {
      return select.value?.includes(icon.value);
    }
    const _search = debounce(searchIcon, 300);
    // 当前激活分组
    const active = ref(groupList.value[0]?.key);
    
    return {
      visible,
      loading,
      select,
      groupList,
      active,
      searchValue,
      pageBase,
      iconMap,
      selected,
      onSearch,
      onSelect
    };
  }
});
</script>
<style lang="less">
.icon-selector .icon-container {
  display: grid;
  gap: .5rem;
  border-radius: var(--radius-xs);
  background-color: var(--color-bg-layout);
  padding: .5rem;
  font-size: var(--font-size-xl);
  line-height: var(--leading)
}

.icon-selector .icon-container .icon-item {
  border-radius: var(--radius-sm);
  border-width: 1px;
  border-style: solid;
  border-color: transparent
}

.icon-selector .icon-container .icon-item:hover {
  border-color: var(--color-primary-6)
}

.icon-selector .icon-container .icon-item:hover .icon {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.icon-selector.no-group .ant-tabs-nav {
  display: none
}

</style>