<template>
  <template v-if="menu.renderMenu">
    <a-sub-menu v-if="menu.children && menu.children.length >= 1" :key="fullPath">
      <template #title>
        <span>
          <component :is="antIcons[menu.icon]" />
          <span>{{menu.name}}</span>
        </span>
      </template>
      <sub-menu v-for="item in menu.children" :key="item.url" :menu="item" :parent="menu.path"></sub-menu>
    </a-sub-menu>
    <a-menu-item v-else :key="fullPath" :originItemValue="menu">
      <component :is="antIcons[menu.icon]" />
      <span>{{menu.name}}</span>
    </a-menu-item>
  </template>
</template>

<script lang="ts">
import { defineComponent, h, getCurrentInstance, computed } from "vue";

export default defineComponent({
  name: "sub-menu",
  setup: (props) => {
    const { $antIcons } = (getCurrentInstance() as any).appContext.config.globalProperties
    const fullPath = computed(() => `${props.parent ? props.parent:''}${props.menu.path}`);
    return {
      h,
      antIcons: $antIcons,
      fullPath
    };
  },
  props: ['menu', 'parent'],
  components: {
    SubMenu: () => import('./MainSidebarSubMenu.vue')
  }
});
</script>

<style scoped>

</style>
