<template>
  <div
    :id="item.id"
    v-for="item in microAppList"
    :key="item.id"
    v-show="microApp"
  ></div>
</template>

<script lang="ts">
import {defineComponent,computed} from "vue";
import {microAppList, isMicroApp} from "@/micro/apps";
import {useRoute} from "vue-router";

export default defineComponent({
  name: "MicroPage",
  components: {

  },
  setup: () => {
    const route = useRoute();
    const microApp = computed(() => isMicroApp(route.path));
    return {
      microAppList,
      microApp
    };
  },
});
</script>

<style scoped lang="less">

</style>
