<template>
  <div class="rainbow-header">
    <div class="rainbow-header-left">
      <a-button @click="changeNav" type="primary">
        <template #icon>
          <component :is="antIcons[collapsed ? 'MenuFoldOutlined':'MenuUnfoldOutlined']"  />
        </template>
      </a-button>
    </div>
    <div class="rainbow-header-main"></div>
    <div class="rainbow-header-right">
      <User v-if="userInfo" />
    </div>
  </div>
</template>

<script lang="ts">
import {ref, defineComponent, computed, getCurrentInstance, watch} from "vue";
import User from "./User.vue";
import { useStore } from 'vuex';

export default defineComponent({
  name: "NavHeader",
  props: ['collapsed'],
  emits: ['changeNav'],
  components: {
    User
  },
  setup: (props, { emit }) => {
    const { $antIcons } = (getCurrentInstance() as any).appContext.config.globalProperties
    let collapsed = ref(props.collapsed);
    const store = useStore();
    const userInfo = computed(() => store.state.currentUser.userInfo);
    function changeNav() {
      emit('changeNav');
    }
    watch(
      () => props.collapsed,
      (val) => {
        collapsed.value = val;
      }
    );
    return {
      antIcons: $antIcons,
      userInfo,
      collapsed,
      changeNav
    };
  },
});
</script>

<style scoped lang="less">
.rainbow-header {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: var(--color-bg-container);
  padding: 0.25rem 1rem;
  color: var(--color-text);
  .rainbow-header-left {
    display: flex;
    align-items: center;
  }
  .rainbow-header-main {
    flex: 1 1 0;
    width: unset;
  }
  .rainbow-header-right {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    display: flex;
    height: var(--height-header);
    align-items: center;
  }
}
</style>
