<template>
  <div class="nav">
    <div class="nav-left">
      <div class="nav-title">
        <div>
          <img class="transition" :class="collapsed ? 'transform':''" src="../assets/rainbow.png" alt="">
          <img class="transition" :class="collapsed ? 'transform':''" src="../assets/rainbow_small.png" alt="">
        </div>
      </div>
      <div>
        <a-menu id="menu" v-model:openKeys="openKeys" v-model:selectedKeys="selectedKeys" :inline-collapsed="collapsed" mode="inline" @click="handleClick">
          <subMenu :key="'/'" :menu="{name: '概览', path: '/', icon: 'WindowsOutlined', renderMenu: true}"></subMenu>
          <subMenu v-for="menu in menList" :key="menu.path" :menu="menu"></subMenu>
        </a-menu>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {ref, defineComponent, computed, watch, getCurrentInstance} from "vue";
import SubMenu from './MainSidebarSubMenu.vue'
import User from "./User.vue";
import { useStore } from 'vuex';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: "NavMain",
  props: ['collapsed'],
  components: {
    SubMenu,
    User
  },
  setup: (props) => {
    const { $antIcons, $tabs } = (getCurrentInstance() as any).appContext.config.globalProperties
    const selectedKeys = ref<string[]>([location.pathname]);
    const openKeys = ref<string[]>([`/${location.pathname.split("/")[1]}`, location.pathname]);
    let collapsed = ref(props.collapsed);
    const store = useStore();
    const menList = computed(() => store.state.currentUser.routes);
    const router = useRouter()
    const handleClick = ({ item, key }: { item: Record<string, any>, key: string }) => {
      $tabs.openTab({
        ...item.originItemValue,
        path: key,
        id: undefined
      })
    };
    watch(
      () => props.collapsed,
      (val) => {
        collapsed.value = val;
      }
    );
    watch(
      () => router.currentRoute.value.path,
      (val) => {
        selectedKeys.value = [val];
        openKeys.value = [`/${val.split("/")[1]}`, val];
      })
    return {
      antIcons: $antIcons,
      menList,
      collapsed,
      openKeys,
      selectedKeys,
      handleClick,
    };
  },
});
</script>

<style scoped lang="less">
.nav {
  position: relative;
  user-select: none;
  .nav-left {
    background: #fff;
    position: absolute;
    top: 0;
    box-shadow: 10px 0 17px rgb(72 72 72 / 10%);
    height: 100%;
    bottom: 0;
    transition: all 0.3s;
    z-index: 1;
    .nav-title {
      text-align: center;
      line-height: 70px;
      font-size: 20px;
      font-weight: 700;
      color: #6d61ea;
      letter-spacing: 0.05em;
      >div {
        white-space: nowrap;
        overflow: hidden;
        width: var(--width-side);
        img {
          height: 70px;
          display: inline-block;
        }
        .transform {
          transform: translateX(-215px);
        }
      }
    }
  }
}
</style>
