<template>
  <div class="rainbow-view-main">
    <div class="rainbow-tabs-view" :class="fixed ? 'affix':''">
      <NavTabs />
      <div class="rainbow-tabs-view-content">
        <div v-show="activeRules.includes('/'+$route.path.split('/')[1])" >
          <micro-page ref="keepMicroAlive" />
        </div>
        <div v-show="!activeRules.includes('/'+$route.path.split('/')[1])" >
          <router-view v-slot="{ Component }">
              <keep-alive ref="keepAlive" :max="5">
                <component v-if="refreshFlag" :is="Component" :key="$route.fullPath" />
              </keep-alive>
          </router-view>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {ref, defineComponent, getCurrentInstance, watch} from "vue";
import User from "./User.vue";
import NavTabs from "./NavTabs.vue";
import MicroPage from "./MicroPage.vue";
import {microAppList} from "@/micro/apps";
import NProgress from "nprogress";
import {useStore} from "vuex";

export default defineComponent({
  name: "NavPage",
  components: {
    User,
    NavTabs,
    MicroPage
  },
  setup: () => {
    const { $antIcons } = (getCurrentInstance() as any).appContext.config.globalProperties
    const activeRules = ref<string[]>(microAppList.map((item: any) => item.activeRule));
    const fixed = ref(false);
    const keepAlive = ref(null);
    const keepMicroAlive = ref(null);
    const refreshFlag = ref(true);
    const store = useStore();

    // 动态删除keep-alive缓存后，组件通过显隐的方式重新渲染
    const pageRefresh = () => {
      NProgress.start();
      sessionStorage.setItem('refreshing', 'true');
      refreshFlag.value = false;
      setTimeout(() => {
        refreshFlag.value = true;
      }, 0);
    }
    
    watch(
      () => keepAlive.value,
      (val) => {
        // 把组件实例挂载到全局，方便动态删除缓存
        store.commit('setKeepAliveRefMutation', {
          keepAlive: val,
          pageRefresh
        })
      }
    )

    return {
      antIcons: $antIcons,
      activeRules,
      fixed,
      keepAlive,
      keepMicroAlive,
      refreshFlag,
      pageRefresh
    };
  },
});
</script>

<style scoped lang="less">
.rainbow-view-main {
  flex: 1 1 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  .rainbow-tabs-view {
    position: relative;
    .rainbow-tabs-view-content {
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      max-height: calc(100% - 34px);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      border-bottom-right-radius: var(--radius-md);
      border-bottom-left-radius: var(--radius-md);
      border-top-right-radius: var(--radius-md);
      min-height: calc(100% - 34px);
    }
  }
}
.affix {
  height: calc(100vh - var(--height-header) - 1rem);
}
.fixed {
  position: absolute;
  top: 0;
  width: 100%;
}
</style>
