<template>
  <a-tabs type="card" v-model:activeKey="activeKey" @change="changeTab">
    <a-tab-pane v-for="tab in navTabs" :key="tab['id']">
      <template #tab>
           <div class="rainbow-tab-item">
            <component v-if="activeKey === tab['id']" :is="antIcons['ReloadOutlined']" @click.stop="refreshTab(tab['id'],tab['path'])"/>
            &nbsp;&nbsp;{{ tab.name }}&nbsp;&nbsp;
            <component v-if="navTabs.length > 1" :is="antIcons['CloseOutlined']" class="tab-close transition" @click.stop="closeTab(tab['id'],tab['path'])"/>
          </div>
      </template>
    </a-tab-pane>
    <template #rightExtra>
      <component :is="antIcons['UnlockOutlined']"/>
    </template>
  </a-tabs>
</template>

<script lang="ts">
import {ref,defineComponent, getCurrentInstance, computed, watch} from "vue";
import {useStore} from "vuex";
import {useRoute, useRouter} from "vue-router";
import {microAppList} from "@/micro/apps";

export default defineComponent({
  name: "NavTabs",
  setup: () => {
    const Instance = getCurrentInstance() as any;
    const {$antIcons,$tabs} = Instance.appContext.config.globalProperties
    const store = useStore();
    const router = useRouter();
    const route = useRoute();
    const activeId = computed(() => store.state.navTabs.find((item: any) => item.active)?.id);
    const navTabs = computed(()=>store.state.navTabs);
    const initRouter = computed(() => store.state.initRouter);
    const microRoutes = computed(() => store.state.microRoutes);
    const activeRules = ref<string[]>(microAppList.map((item: any) => item.activeRule));
    const isMicro = computed(()=>activeRules.value.includes('/'+route.path.split('/')[1]));
    const activeKey = ref(0)

    watch(
        () => activeId.value,
        (val) => {
          activeKey.value = val
        },{
          immediate: true
        });

    const changeTab = (key: any) => {
      $tabs.changeTab(key)
    }

    const closeTab = (key: any, path: string) => {
      $tabs.removeTab(key, path)
    }

    const refreshTab = (key: any, path: string) => {
      $tabs.refreshTab(key, path)
    }

    return {
      antIcons: $antIcons,
      activeId,
      activeKey,
      navTabs,
      changeTab,
      closeTab,
      refreshTab
    };
  },
});
</script>

<style scoped lang="less">
.rainbow-view-main {
  flex: 1 1 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

  .rainbow-tabs-view {
    position: relative;

    .rainbow-tabs-view-content {
      margin-left: -1rem;
      margin-right: -1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      border-bottom-right-radius: var(--radius-md);
      border-bottom-left-radius: var(--radius-md);
      border-top-right-radius: var(--radius-md);
    }
  }
}

.affix {
  height: calc(100vh - var(--height-header) - 1rem);
}

.fixed {
  position: absolute;
  top: 0;
  width: 100%;
}

.tab-close {
  color: #cccccc;
}
.tab-close:hover {
  color: #ff4d4f;
}
</style>
<style>
.ant-tabs .ant-tabs-tab .anticon {
  margin-right: 0;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: none;
  border-radius: 8px 8px 4px 4px !important;
  font-size: 12px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .3s;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border: none;
}

.ant-tabs-top > .ant-tabs-nav {
  margin-bottom: 6px;
}
</style>
