<template>
  <a-dropdown>
    <a-avatar>
      <template #icon>
        <icon :style="{ fontSize: '28px' }">
          <template #component="svgProps">
            <svg v-bind="svgProps" t="1692595506150" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7462" width="32" height="32"><path d="M430.149424 786.80226h208.271186v133.062147c0 57.511774-46.629605 104.135593-104.135593 104.135593-57.517559 0-104.135593-46.623819-104.135593-104.135593v-133.062147z" fill="#C5AC95" p-id="7463"></path><path d="M125.142056 565.884384c0 50.899164 41.260836 92.16 92.16 92.16 50.893379 0 92.154215-41.260836 92.154215-92.16 0-50.893379-41.260836-92.154215-92.16-92.154215-50.893379 0-92.154215 41.260836-92.154215 92.16z" fill="#C9AB90" p-id="7464"></path><path d="M280.587571 321.084746m-141.740113 0a141.740113 141.740113 0 1 0 283.480226 0 141.740113 141.740113 0 1 0-283.480226 0Z" fill="#4D4132" p-id="7465"></path><path d="M497.536723 127.276836h11.570622c166.148339 0 300.836158 134.687819 300.836158 300.836158v208.271187c0 166.148339-134.687819 300.836158-300.836158 300.836158h-11.570622c-166.148339 0-300.836158-134.687819-300.836158-300.836158V428.112994c0-166.148339 134.687819-300.836158 300.836158-300.836158z" fill="#EBD3BD" p-id="7466"></path><path d="M80.99435 0h619.028249c83.077062 0 150.418079 67.341017 150.418079 150.418079v133.062147H231.412429C148.335367 283.480226 80.99435 216.139209 80.99435 133.062147V0z" fill="#4D4132" p-id="7467"></path><path d="M940.112994 141.740113V439.683616c0 62.307797-50.505763 112.813559-112.813559 112.813559h-66.531073a46.282486 46.282486 0 0 1-46.282486-46.282486v-364.474576h225.627118z" fill="#4D4132" p-id="7468"></path><path d="M323.977401 723.163842c0 63.904542 51.801672 115.706215 115.706215 115.706214s115.706215-51.801672 115.706215-115.706214H323.977401z" fill="#E89E80" p-id="7469"></path><path d="M739.51313 560.099073c0 50.899164 41.260836 92.16 92.154215 92.16s92.16-41.260836 92.16-92.16c0-50.893379-41.266621-92.154215-92.16-92.154214s-92.16 41.260836-92.16 92.16z" fill="#EBD3BD" p-id="7470"></path><path d="M790.707345 555.644384a40.96 40.96 0 1 0 81.92 0.017356 40.96 40.96 0 0 0-81.92-0.017356z" fill="#E89E80" p-id="7471"></path><path d="M217.296271 473.267345a81.92 81.92 0 1 0 163.834215 0c0-45.24113-36.67887-81.914215-81.92-81.914215s-81.914215 36.67887-81.914215 81.92z" fill="#FFFFFF" p-id="7472"></path><path d="M252.47096 472.602034a35.84 35.84 0 1 0 71.68 0 35.84 35.84 0 0 0-71.68 0z" fill="#514141" p-id="7473"></path><path d="M504.004701 473.267345c0 45.24113 36.67887 81.92 81.92 81.92s81.908429-36.67887 81.908429-81.92-36.673085-81.914215-81.914215-81.914215-81.92 36.67887-81.92 81.92z" fill="#FFFFFF" p-id="7474"></path><path d="M539.17939 472.602034a35.84 35.84 0 1 0 71.674215 0 35.84 35.84 0 0 0-71.68 0z" fill="#514141" p-id="7475"></path><path d="M208.271186 318.19209m28.926554 0l127.276836 0q28.926554 0 28.926554 28.926554l0 0q0 28.926554-28.926554 28.926554l-127.276836 0q-28.926554 0-28.926554-28.926554l0 0q0-28.926554 28.926554-28.926554Z" fill="#4D4132" p-id="7476"></path><path d="M500.426738 289.631843m27.350594 9.417565l120.342613 41.437285q27.350594 9.417565 17.933029 36.768158l0 0q-9.417565 27.350594-36.768159 17.933029l-120.342613-41.437284q-27.350594-9.417565-17.933029-36.768159l0 0q9.417565-27.350594 36.768159-17.933029Z" fill="#4D4132" p-id="7477"></path></svg>
          </template>
        </icon>
      </template>
    </a-avatar>
    <template #overlay>
      <a-menu>
        <a-menu-item>
          <a>{{user?.name}}</a>
        </a-menu-item>
        <a-menu-item>
          <a @click="logout">退出登录</a>
        </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>

<script lang="ts">
import {defineComponent, computed} from "vue";
import Icon from "@ant-design/icons-vue";
import {useStore} from "vuex";
import {message} from "ant-design-vue";
import {useRouter} from "vue-router";
import {resetRouter} from "@/utils/router";
export default defineComponent({
  name: "User",
  components: {
    Icon
  },
  setup: () => {
    const store = useStore();
    const user = computed(() => store.state.currentUser.userInfo);
    const router = useRouter()
    const logout = async () => {
      await store.dispatch('logoutAction');
      message.success("退出成功");
      store.commit('clearNavTabsMutation')
      await router.push({path: '/'});
      resetRouter();
    }
    return { user,logout };
  },
});
</script>

<style scoped>
a {
  color: #42b983;
}

label {
  margin: 0 0.5em;
  font-weight: bold;
}

code {
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 4px;
  color: #304455;
}
</style>
