<template>
  <div class="rainbow-view">
    <template v-if="$route.name != 'login'">
      <div class="rainbow-layout transition">
        <div class="rainbow-layout-header"><NavHeader :collapsed="collapsed" @changeNav="changeNav" /></div>
        <div class="rainbow-layout-side transition" :class="collapsed ? 'collapsed':''"><NavMain :collapsed="collapsed" /></div>
        <div class="rainbow-layout-content transition"><NavPage /></div>
      </div>
    </template>
    <template v-else>
      <router-view />
    </template>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref, watch, computed, getCurrentInstance} from "vue";
import NavMain from "@/components/NavMain.vue";
import NavHeader from "@/components/NavHeader.vue";
import NavPage from "@/components/NavPage.vue";
import { useStore } from "vuex";
import {useRoute} from "vue-router";

export default defineComponent({
  name: "App",
  components: {
    NavMain,
    NavHeader,
    NavPage
  },
  setup: () => {
    const store = useStore();
    const route = useRoute();
    const collapsed = ref(false);
    const Instance = getCurrentInstance() as any;
    const {$tabs} = Instance.appContext.config.globalProperties
    const initRouter = computed(() => store.state.initRouter);
    
    store.dispatch("getUserMsgAction")
    
    watch(()=>initRouter,(val)=>{
      console.log('initRouter', initRouter);
      if (!val.value) return
      const redirect_page = JSON.parse(sessionStorage.getItem('redirect_page') || 'null')
      sessionStorage.removeItem('redirect_page')
      if (redirect_page && redirect_page.path === '/') {
        $tabs.openTab({
          id: -1,
          name: '概览',
          path: '/',
          query: {},
          params: {},
          tabType: 'one',
          active: true
        } as any)
      } else if (redirect_page) {
        $tabs.openTab(redirect_page as any)
      }
    }, {immediate: true})

    function changeNav() {
      collapsed.value = !collapsed.value;
    }
    return {
      collapsed,
      changeNav
    };
  },
});
</script>

<style lang='less'>
.rainbow-view {
  height: 100vh;
  overflow-y: hidden;
  background: var(--color-bg-layout);
  .rainbow-layout {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: minmax(0,auto) 1fr;
    grid-template-rows: var(--height-header) 1fr;
    .rainbow-layout-header {
      grid-column-start: 2;
      background-color: var(--color-bg-container);
      z-index: 20;
      --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
      --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    }
    .rainbow-layout-side {
      grid-row-start: 1;
      grid-row-end: 3;
      width: var(--width-side);
      overflow-y: auto;
      background: var(--color-bg-container);
    }
    .rainbow-layout-content {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
  }
}
.collapsed {
  width: var(--width-side-collapsed) !important;
}
</style>
