<template>
  <div >

  </div>
</template>

<script lang="ts">
import { ref, defineComponent } from "vue";
export default defineComponent({
  name: "template",
  components: {
  },
  setup: () => {
    const count = ref(0);
    return { count };
  },
});
</script>

<style scoped lang='less'>

</style>
